<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeParagraph %> </p>


<% posts.forEach(function(post) { %> 
   <% let truncPost = post.content.substring(0, 100) + '...' %>
    <h2> <%= post.title %> </h2>

    <p> <%= truncPost %> </p>

    <% }) %>

<%- include('partials/footer'); -%>